## Introduction to If Statements

In [1]:
x = 0
y = 5

In [2]:
if x < y:
    print('yes')

yes

In [3]:
print(x, y)

0 5

In [4]:
#Falsy karena expression mengembalikan False
if y < x:
    print('yes')

In [5]:
#Falsy karena x bernilai 0 yang memiliki arti yang sama dengan False
if x:
    print('yes')

In [6]:
if y:
    print('yes')

yes

In [10]:
if 'aul' in 'grault':
    print('yes')
print('aul' in 'grault')
#Falsy karena alu tidak ada didalam kata grault
print('alu' in 'grault')

yes
True
False

In [8]:
#Falsy karena quux tidak ada didalam array
if 'quux' in ['foo','bar','baz']:
    print('yes')

In [11]:
keyword = 'hello'
words = ['Bed', 'Time', 'Stories']

#Falsy karena keyword tidak ditemukan didalam array words
if keyword in words:
    print('found!')

## Grouping Statements: Indentation and Blocks

In [12]:
weather = 'nice'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dog for a walk')

Mow the lawn
Weed the garden
Take the dog for a walk

In [13]:
weather = 'bad'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dog for a walk')

print('Selesai memutuskan')

Selesai memutuskan

In [16]:
# if 'foo' in ['bar','baz','qux']:
if 'bar' in ['bar','baz','qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')

print('After conditional')

Expression was true
Executing statement in suite
...
Done.
After conditional

In [17]:
if 'foo' in ['foo','bar','baz']:
    print('Outer condition is true')
    if 10 > 20:
        print('Inner condition 1')
    print('Between inner conditions')
    if 10 < 20:
        print('Inner condition 2')
    print('End of outer condition')
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

## The Else and Elif Clauses

In [19]:
weather = 'windy'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dog for a walk')
else:
    print('Watch movies on the bed')
    print('Drink a cup of hot chocolate')

Watch movies on the bed
Drink a cup of hot chocolate

In [20]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [21]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [29]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 20000

print('uang :', uang)
print('harga buku :', hargaBuku)
print('harga majalah :', hargaMajalah)
if uang >= hargaBuku:
    print('beli buku')
elif uang >= hargaMajalah:
    print('beli majalah')
else:
    print('uang tidak cukup')

uang : 20000
harga buku : 20000
harga majalah : 5000
beli buku

In [34]:
name = 'Hacktiv8'

if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print('I don\'t know who you are ..')

Hello Hacktiv8

In [35]:
if 'a' in 'bar':
    print('foo')
elif 1/0 :
    print('This won\'t happen')
elif var:
    print('This won\t either')

foo

## One Line If Statements

In [36]:
if 'f' in 'foo': print('1'); print('2'); print('3');

1
2
3

In [37]:
if 'z' in 'foo': print('1'); print('2'); print('3');

In [38]:
x = 2
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

## Python's Ternary Operation

In [39]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [40]:
print(not raining)

True

In [41]:
raining = False

place = ""
if not raining:
	place = 'beach'
else:
	place = 'library'

print("Let's go to the", place)

Let's go to the beach

In [45]:
age = 100
s = 'teen' if age < 21 else 'adult'
print(s)

adult

In [50]:
'yes' if('qux' in ['foo', 'bar', 'bax']) else 'no'

'no'

## Python Pass Statement

In [51]:
if True:
print('foo')

IndentationError: expected an indented block (3474547535.py, line 2)

In [52]:
if True:
    pass
print('foo')

foo

## Python While Loops

In [1]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [2]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

## Break and Continue Statements

In [3]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [4]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

## While Else Clause

In [5]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [6]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [14]:
n = 10
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
    
    if n == 4:
        continue
    print('-' * 5)
else:
    print('Loop done.')

9
-----
8
-----
7
-----
6
-----
5
-----
4
3
-----

## Infinite Loops

In [ ]:
while True:
    print('foo')

## Nested While Loops

In [10]:
a = ['foo','bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [16]:
i = 0
while i < 4:
    print('i ', i)
    
    j = 1
    while j < 5:
        print('j ', j)
        if j == 2:
            print('will break loop using j counter')
            break
   
        j += 1
    
    if i == 1:
        print('will break loop using i counter')
        break
    i+=1

i  0
j  1
j  2
will break loop using j counter
i  1
j  1
j  2
will break loop using j counter
will break loop using i counter

## One Line While Loops

In [11]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

## For Loops

In [17]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
for i in range(1,14,2):
    print(i)

1
3
5
7
9
11
13

In [21]:
for i in range(20, 0, -2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [22]:
a = ['foo','bar','baz']
for i in a:
    print(i)

foo
bar
baz

In [23]:
d = {'foo':1, 'bar':2, 'baz': 3}
for k in d.keys():
    print(k)

foo
bar
baz

In [24]:
d = {'foo':1, 'bar':2, 'baz': 3}
for k in d.values():
    print(k)

1
2
3

In [25]:
d = {'foo':1, 'bar':2, 'baz': 3}
for k, v in d.items():
    print(k, v)

foo 1
bar 2
baz 3

In [26]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [28]:
x = range(5)
for i in x:
    print(i)

0
1
2
3
4

In [34]:
for i in ['foo','bar','baz','qux']:
    if 'b' in i:
        break
    print(i)

foo

In [35]:
for i in ['foo','bar','baz','qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [36]:
for i in ['foo','bar','baz','qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [37]:
for i in ['foo','bar','baz','qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo

In [38]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 120F
Temperaturnya adalah 49 derajat

In [39]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: halo
halo
Ketikan karakter: kode
kode
Ketikan karakter: stop
stop